name: deploy workflow

on:
  push:
    paths:
      - 'cache_benchmark/src/**'
      - 'cache_benchmark/tests/**'
      - 'cache_benchmark/requirements.txt'
      - '.github/workflows/**'
      - 'setup.py'

jobs:
  e2etest-redis:
    uses: ./.github/workflows/e2etest.yaml
    with:
      cache-platform: 'redis'


  unittest:
    runs-on: ubuntu-24.04
    permissions:
      packages: write
      contents: read
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5.3.0
        with:
          python-version: 3.12.0

      - name: pip install
        run: |
          python -m pip install --upgrade pip
          pip install .

      - name: Run pytest
        run: |
          python -m pytest cache_benchmark/tests
        env:
          PYTHONPATH: ${{ github.workspace }}/cache_benchmark/src

      - name: Build package
        run: python setup.py bdist_wheel

      - name: Upload package artifact
        uses: actions/upload-artifact@v4
        with:
          name: wheel
          path: dist/locust_cache_benchmark-*.whl

  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    needs: unittest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: wheel
          path: ./dist/

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.8.0

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/s-mishina/locust-redis-benchmark:${{ github.sha }}
            ghcr.io/s-mishina/locust-redis-benchmark:latest
